@font-face {

font-family : 'Helvetica Now';
src: url('http://raw.githubusercontent.com/Mayolatradez/ADS3/blob/master/css/HelveticaNowDisplayXBlk.otf');
font-weight: 100;
font-style: normal;
} 

body {
	background: rgba(0,0,0,1);

}

.archive { 
	height: 640px;
	width: 560px;
	position: absolute;
	top: 50px;
	right: 50px;
	border-width: 20px;
	
}

.panel_img {
	width: 560px;
	border-width: 20px;
	
}

.panel_title {
	font-family: 'Helvetica Now', monospace;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
}

.panel_text {
	font-family: Carbon;
	color: rgba(255, 255, 255, 0.75);
}
